// ----- [ BenTek Blues ] ----- //
$chambray : #3d5b91;
$rhino : #293d61;

$steel-blue : #4f76bc;
$east-bay : #35507f;

// ----- [ Grays ] ----- //
$white : #fafafa;
$gray-lighter : #e7e7e7;
$gray-light : #bfbfbf;
$gray-medium : #8f8f8f;
$gray-base : #595959;
$gray-dark : #565656;
$gray-darker : #383838;
$black : #1f1f1f;

// ----- [ Accents ] ----- //
$ship-cove : #8193bf;
$lynch : #5e6b8b;

$amaranth : #e3224b;
$cardinal : #a51937;

$sun-glow : #fcca35;
$marigold : #be9828;

$fountain-green : #5ec2bc;
$oracle : #3a7874;


// ----- [ Brand Specific Colors ] ----- //
$brand-primary : $steel-blue;
$brand-primary-dark : $east-bay;
$brand-alt : $chambray;
$brand-alt-dark : $rhino;
$brand-success : $fountain-green;
$brand-success-dark : $oracle;
$brand-info : $ship-cove;
$brand-info-dark : $lynch;
$brand-warning : $sun-glow;
$brand-warning-dark : $marigold;
$brand-danger : $amaranth;
$brand-danger-dark : $cardinal;
