//$padding : 1.25rem;
$padding : 15px;
$transition-time: .15s;

@mixin default-transition(){
  transition: all $transition-time ease-out;
}

@mixin border( $size : 1px, $type: solid, $color: $gray-dark){
  border: $size $type $color;
}

@mixin border-bottom( $size: 1px, $type: solid, $color : $gray-dark ) {
  border-bottom: $size $type $color;
}

@mixin border-left( $size: 5px, $type: solid, $color : $gray-dark ) {
  border-left: $size $type $color;
}
