@import url('//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,300italic,400italic,500italic,700italic');

$font-family : 'Roboto', sans-serif;

$font-weight-hairline : 100;
$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-bold : 500;
$font-weight-heavy : 700;

$font-size-base : 16px;
$font-size-xx-large : 34px;
$font-size-x-large : 30px;
$font-size-large : 26px;
$font-size-medium : 20px;
$font-size-small : 14px;
$font-size-x-small : 12px;
$font-size-xx-small : 10px;


$line-height : 1.75em;