  <!--<script src="/inc/js/libs/jquery-1.11.3.min.js"></script>-->
  <!--<script src="/inc/js/libs/jquery.selectric.js"></script>-->
  <!--<script src="/inc/js/libs/moment-with-locales.min.js"></script>-->
  <!--<script src="/inc/js/libs/ion.calendar.js"></script>-->
  <!--<script src="/inc/js/libs/gsap/TweenMax.min.js"></script>-->
  <!--<script src="/inc/js/events.js"></script>-->
  <!--<script src="/inc/js/alerts.js"></script>-->
  <!--<script src="/inc/js/main.js"></script>-->



  <script src="js/vendors/vendor.min.js"></script>
  <script src="js/vendors/pikaday.jquery.js"></script>
  <script src="js/all.js"></script>


</body>
</html>