<div class="header">

  <div class="container">

    <div class="col__xs--12 col__md--2 logo-area">
      <h1 class="logo"><a href="/">BenTek</a></h1>
    </div><!-- /logo-area -->

    <div class="col__xs--12 col__md--10 header-info-area">
      <div class="header__info">
        <p><span class="date">Monday, October 26, 2015</span> <a href="#">Logout</a></p>
        <p>Welcome, <a href="#">John Doe</a></p>
        <p>Session time remaining <a href="#" class="time">15:00 <i class="fa fa-refresh"></i></a></p>
      </div><!-- /header__info -->
    </div><!-- /header-info-area -->

    <div class="client-logo"></div><!-- /client-logo -->

  </div><!-- /container -->

</div><!-- /header -->