<div class="header">

  <div class="container">

    <div class="col__xs--12 col__md--2 logo-area">
      <h1 class="logo"><a href="/">BenTek</a></h1>
    </div><!-- /logo-area -->

    <div class="col__xs--12 col__md--10 header-info-area">
      <div class="header__info">
        <p><span class="date">Monday, October 26, 2015</span> <a href="#">Logout</a></p>
        <p>Welcome, <a href="#">John Doe</a></p>
        <p>Session time remaining <a href="#" class="time">15:00 <i class="fa fa-refresh"></i></a></p>
      </div><!-- /header__info -->
    </div><!-- /header-info-area -->

    <div class="client-logo"></div><!-- /client-logo -->

  </div><!-- /container -->

</div><!-- /header -->

<div class="search-wrapper">

  <div class="container">

    <div class="con__xs--12">

      <div class="search-container">

        <div class="search-sections">

          <div id="search-admin" class="search-section search-section--admin">
            <div class="search-section__inner">
              <form action="#" class="form--light">
                <div class="col__xs--12 col__md--2 col__lg--2">
                  <div class="form__first form__item required">
                    <select name="status" id="status" required="required">
                      <option value="">Status</option>
                      <option value="all">All</option>
                      <option value="fullTime">Full Time</option>
                      <option value="partTime">Part Time</option>
                      <option value="retirees">Retirees</option>
                      <option value="cobra">Cobra</option>
                    </select>
                  </div>
                </div><!-- /Status -->

                <div class="col__xs--12 col__md--3">
                  <div class="form__item form__last">
                    <input id="ssn" type="text" class="form__input" name="sussnffix" required="false">
                    <label for="ssn" class="form__label">SSN</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /SSN -->

                <div class="col__xs--12 col__md--3">
                  <div class="form__item form__last">
                    <input id="employeeid" type="text" class="form__input" name="employeeid" required="false">
                    <label for="employeeid" class="form__label">Employee ID</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /Employee ID -->

                <div class="col__xs--12 col__md--4">
                  <div class="form__item form__last">
                    <input id="name" type="text" class="form__input" name="name" required="false">
                    <label for="name" class="form__label">Name</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /Name -->
              </form>
            </div><!-- /search-section--inner -->
          </div><!-- /search-section -->

          <div id="search-ebc" class="search-section search-section--ebc">
            <div class="search-section__inner">
              <form action="#" class="form--light">
                <div class="col__xs--12 col__md--2 col__lg--2">
                  <div class="form__first form__item required">
                    <select name="module" id="module" required="required">
                      <option value="">Module</option>
                      <option value="openEnrollment">Open Enrollment</option>
                      <option value="newHire">New Hire</option>
                      <option value="qualifyingEvent">Qualifying Event</option>
                      <option value="beneficiaries">Beneficiaries</option>
                    </select>
                  </div>
                </div><!-- /Module -->

                <div class="col__xs--12 col__md--3">
                  <div class="form__item form__last">
                    <input id="ssn" type="text" class="form__input" name="sussnffix" required="false">
                    <label for="ssn" class="form__label">SSN</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /SSN -->

                <div class="col__xs--12 col__md--3">
                  <div class="form__item form__last">
                    <input id="employeeid" type="text" class="form__input" name="employeeid" required="false">
                    <label for="employeeid" class="form__label">Employee ID</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /Employee ID -->

                <div class="col__xs--12 col__md--4">
                  <div class="form__item form__last">
                    <input id="name" type="text" class="form__input" name="name" required="false">
                    <label for="name" class="form__label">Name</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /Name -->

                <div class="col__xs--12 col__md--4">
                  <div class="form__item form__item--icon required">
                    <i class="form__icon fa fa-calendar"></i>
                    <input id="beginDate" type="text" class="form__input date-picker" name="beginDate" required="required">
                    <label for="beginDate" class="form__label">Begin Date</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /Begin Date -->

                <div class="col__xs--12 col__md--4">
                  <div class="form__item form__item--icon required">
                    <i class="form__icon fa fa-calendar"></i>
                    <input id="endDate" type="text" class="form__input date-picker" name="endDate" required="required">
                    <label for="endDate" class="form__label">End Date</label>
                    <span class="form__bar"></span>
                  </div>
                </div><!-- /End Date -->

                <div class="col__xs--12 col__md--4">
                  <input id="run" type="submit" class="button button--ghost" value="Run">
                </div><!-- /Run -->
              </form>
            </div><!-- /search-section--inner -->
          </div><!-- /search-section -->

        </div><!-- /section-sections -->

      </div><!-- /search-container -->

    </div><!-- /col -->

  </div><!-- /container -->

</div><!-- /search-area -->

<div class="search-tabs-wrapper">
  <div class="container">
    <div class="search-tabs">
      <a href="#" class="search-tab" data-target="search-admin"><i class="fa fa-search"></i> Admin</a>
      <a href="#" class="search-tab tab--ebc" data-target="search-ebc"><i class="fa fa-search"></i> EBC</a>
    </div><!-- /search-tabs -->
  </div><!-- /container -->
</div><!-- /search-tabs-wrapper -->