<nav class="main-nav">
  <span class="nav-btn">&#9776; Menu</span>
  <ul class="nav">
    <li class="nav__item">
      <a href="#">Benefits Administration</a>
      <ul class="sub-nav">
        <li class="sub-nav__item nav-active"><a href="#">Add New Employee</a></li>
        <li class="sub-nav__item"><a href="/reporting.html">Reporting</a></li>
        <li class="sub-nav__item"><a href="#">Pending Qualifying Events</a></li>
        <li class="sub-nav__item"><a href="#">Vendor Billing/Eligibility</a></li>
        <li class="sub-nav__item"><a href="#">Payroll Export</a></li>
        <li class="sub-nav__item"><a href="#">Personnel Import</a></li>
        <li class="sub-nav__item"><a href="#">Payroll Audit</a></li>
        <li class="sub-nav__item"><a href="#">Xports</a></li>
      </ul>
    </li>
    <li class="nav__item">
      <a href="#">Employee Benefits Center</a>
      <ul class="sub-nav">
        <li class="sub-nav__item"><a href="#">Open Enrollment</a></li>
        <li class="sub-nav__item"><a href="#">Qualifying Event</a></li>
        <li class="sub-nav__item"><a href="#">View Elections</a></li>
        <li class="sub-nav__item"><a href="#">Benefit Highlights</a></li>
        <li class="sub-nav__item"><a href="#">Forms</a></li>
        <li class="sub-nav__item"><a href="#">Beneficiary Designations</a></li>
      </ul>
    </li>
    <li class="nav__item"><a href="/web-ftp.html">WebFTP</a></li>
    <li class="nav__item"><a href="/help.html">Help</a></li>
    <li class="nav__item">
      <a href="#">Extras</a>
      <ul class="sub-nav">
        <li class="sub-nav__item"><a href="/">Employee View</a></li>
        <li class="sub-nav__item"><a href="_styleguide/">Style Guide</a></li>
      </ul>
    </li>
  </ul>
</nav>
