<nav class="main-nav">
  <span class="nav-btn">&#9776; Menu</span>
  <ul class="nav">
    <li class="nav__item">
      <a href="#">Benefits Administration</a>
      <ul class="sub-nav">
        <li class="sub-nav__item nav-active"><a href="/open-enrollment.html">Open Enrollment</a></li>
        <li class="sub-nav__item"><a href="/qualifying-event.html">Qualifying Event</a></li>
        <li class="sub-nav__item"><a href="/">View Elections</a></li>
        <li class="sub-nav__item"><a href="/">Benefit Highlights</a></li>
        <li class="sub-nav__item"><a href="/">Forms</a></li>
        <li class="sub-nav__item"><a href="/">Beneficiary Designations</a></li>
      </ul>
    </li>
    <li class="nav__item"><a href="/help.html">Help</a></li>
    <li class="nav__item">
      <a href="#">Extras</a>
      <ul class="sub-nav">
        <li class="sub-nav__item"><a href="/reporting.html">Admin</a></li>
        <li class="sub-nav__item"><a href="/fmit.html">FMIT</a></li>
        <li class="sub-nav__item"><a href="_styleguide/">Style Guide</a></li>
      </ul>
    </li>
  </ul>
</nav>
