@@include('./partials/head.htm')
@@include('./partials/header.htm')

<div class="container container--progress">

  <div class="col__xs--12">

    <ol class="progress">
      <li class="progress__step progress__step--active"><span class="progress__detail">Introduction</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Employee Information</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Dependent Information</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Benefit Highlights</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Benefit Elections</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Beneficiary Designations</span>
      </li>
      <li class="progress__step"><span class="progress__detail">Summary of Elections</span></li>
    </ol><!-- /progress -->

  </div><!-- /col -->

</div><!-- /container--progress -->

<div class="container container--body">

  <div class="section extra--top">
    <h1 class="title title--page">Beneficiary Designations</h1>

    <div class="message--agreement clearfix">
      <p>Before designating a life insurance beneficiary, you must read and agree to the following terms. Under and
        subject to the terms of my group policy for all applicable benefits maintained in BenTek, I hereby annul and
        revoke any former beneficiary designations named by me, and I now designate the following person(s),
        guardian(s), and/or trust(s) as my beneficiary designations. I understand that changes for the below named plans
        submitted during this process will overwrite any changes previously submitted including changes via paper
        form(s).</p>

      <p>To agree to these terms and proceed with your beneficiary designation updates, type your name exactly as it
        appears next to the Logout button (top right of page) and click the "I Agree" button.</p>

      <form action="#" class="form--light">
        <div class="col__xs--8">
          <div class="form__item required">
            <input id="yourName" type="text" class="form__input" name="accept" required="required">
            <label for="yourName" class="form__label">Your Name</label>
            <span class="form__bar"></span>
          </div>
        </div>
        <div class="col__xs--4">
          <a href="#" class="button button--ghost">I accept</a>
        </div>
      </form>
    </div><!-- /message--agreement -->

    <p>The Beneficiary Name Bank allows you to manage a list of all your beneficiary records. Once you have agreed to
      the terms above, you can manage existing records via the 'edit' and 'remove' options located in the far right of
      each record. You can also Add New records to the name bank by selecting the type of beneficiary you wish to add
      located at the bottom of the name bank. Within each record, you are required to complete all the required fields
      (*). Please ensure you click SAVE before proceeding to designation process for the below listed benefits.</p>

  </div><!-- /col -->

  <div class="section">

    <div class="section__header">
      <span class="section__header--trigger">
        <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
        <h2 class="section__title">Beneficiary Name Bank</h2>
      </span>
    </div><!-- /section__header -->

    <div class="section__content">

      <div class="section__content--inner">

        <div class="accordion-group isClosed">

          <div class="accordion-menu">
            <div class="accordion__info">
              <span class="accordion__arrow"><i class="fa fa-caret-right"></i></span>
              <span class="accordion__title"><span class="text--bold">Name :</span> Alyssa Davis | <span class="text--bold">Relationship :</span> Spouse | <span class="text--bold">Type :</span> Person</span>
            </div>
          </div><!-- /accordion-menu -->
          <div class="accordion-content">
            <div class="accordion-content--inner">
              <span>STUFF GOES HERE</span>
            </div><!-- /accordion-content--inner -->
          </div><!-- /accordion-content -->

        </div><!-- /accordion-group -->

        <div class="accordion-group isClosed">

          <div class="accordion-menu">
            <div class="accordion__info">
              <span class="accordion__arrow"><i class="fa fa-caret-right"></i></span>
              <span class="accordion__title"><span class="text--bold">Name :</span> Daniel Davis | <span class="text--bold">Relationship :</span> Brother | <span class="text--bold">Type :</span> Person</span>
            </div>
          </div><!-- /accordion-menu -->
          <div class="accordion-content">
            <div class="accordion-content--inner">
              <span>STUFF GOES HERE</span>
            </div><!-- /accordion-content--inner -->
          </div><!-- /accordion-content -->

        </div><!-- /accordion-group -->

        <div class="accordion-group isClosed">

          <div class="accordion-menu">
            <div class="accordion__info">
              <span class="accordion__arrow"><i class="fa fa-caret-right"></i></span>
              <span class="accordion__title"><span class="text--bold">Name :</span> Daniel Davis | <span class="text--bold">Relationship :</span> Brother | <span class="text--bold">Type :</span> Person</span>
            </div>
          </div><!-- /accordion-menu -->
          <div class="accordion-content">
            <div class="accordion-content--inner">
              <span>STUFF GOES HERE</span>
            </div><!-- /accordion-content--inner -->
          </div><!-- /accordion-content -->

        </div><!-- /accordion-group -->

      </div><!-- /section__content--inner -->

    </div><!-- /section__content -->

  </div><!-- /section -->

  <div class="section">
    <p>Select from the tab(s) below to apply the beneficiary records to the desired plans. Click the "Edit Level" button
      within the Primary or Contingent tab to begin designating your beneficiaries. Select your beneficiary record from
      the dropdown list and click 'Add'. Repeat this step to add additional beneficiary records to the plan. Please note
      that you may only designate beneficiaries for one level at a time and percentage amounts cannot exceed 100. Click
      'Save' to apply all changes. Continue this process for all plans displayed and click the 'Next' button at the
      bottom of the page to continue to the Summary of Elections page.</p>
  </div><!-- /section -->

  <div class="section">

    <div class="section__header">
      <span class="section__header--trigger">
        <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
        <h2 class="section__title">Beneficiary Designations</h2>
      </span>
    </div><!-- /section__header -->


    <div class="section__content">

      <div class="section__content--inner">

        <div class="section__inner">

          <div class="section__header">
            <span class="section__number">i</span>
            <h2 class="section__title">Primary</h2>
          </div><!-- /section__header -->

          <div class="section__sub-header clearfix">
            <div class="col__xs--12">
              <a href="#" class="link--light">What is a Primary Beneficiary?</a>
            </div><!-- /col -->
          </div><!-- /section__sub-header -->

          <table class="table" data-doc-info>
            <thead class="table__head">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Relationship</th>
                <th scope="col">Percentage</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr>
                <th scope="row">Alyssa Davis</th>
                <td data-title="Annual Deduction">Spouse</td>
                <td data-title="Deduction Per Pay">100.000%</td>
              </tr>
            </tbody>
          </table>
        </div><!-- /section__inner -->

        <div class="section__inner">

          <div class="section__header">
            <span class="section__number">ii</span>
            <h2 class="section__title">Contingent</h2>
          </div><!-- /section__header -->

          <div class="section__sub-header clearfix">
            <div class="col__xs--12">
              <a href="#" class="link--light">What is a Contingent Beneficiary?</a>
            </div><!-- /col -->
          </div><!-- /section__sub-header -->

          <table class="table" data-doc-info>
            <thead class="table__head">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Relationship</th>
                <th scope="col">Percentage</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr>
                <th scope="row">Daniel Davis</th>
                <td data-title="Annual Deduction">Brother</td>
                <td data-title="Deduction Per Pay">50.000%</td>
              </tr>
              <tr>
                <th scope="row">Kim Davis</th>
                <td data-title="Annual Deduction">Child</td>
                <td data-title="Deduction Per Pay">50.000%</td>
              </tr>
            </tbody>
          </table>

        </div><!-- /section__inner -->

      </div><!-- /section__content--inner -->

    </div><!-- /section__content -->


  </div><!-- /section -->



  <div class="col__xs--12 alpha omega">
    <div class="col__xs--12 col__md--3">
      <a href="/benefit-elections.html" class="button button--danger">Back</a>
    </div>
    <div class="col__xs--12 col__md--3 pull-right">
      <a href="/summary-of-elections.html" class="button button--success button--right">Next</a>
    </div>
  </div><!-- /next-prev -->

</div><!-- /container -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')