@@include('./partials/head.htm')
@@include('./partials/header.htm')

<div class="container container--progress">

  <div class="col__xs--12">

    <ol class="progress">
      <li class="progress__step progress__step--active"><span class="progress__detail">Introduction</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Employee Information</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Dependent Information</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Benefit Highlights</span></li>
      <li class="progress__step"><span class="progress__detail">Benefit Elections</span></li>
      <li class="progress__step"><span class="progress__detail">Beneficiary Designations</span></li>
      <li class="progress__step"><span class="progress__detail">Summary of Elections</span></li>
    </ol><!-- /progress -->

  </div><!-- /col -->

</div><!-- /container--progress -->

<div class="container container--body">

  <div class="col__xs--12 extra--top">
    <h1 class="title title--page">Benefit Highlights</h1>

    <p>The group insurance plan year begins [Date] and ends [Date]. The plans offered are also summarized in the <a
      href="#">Employee Benefit Highlights Booklet</a>. If you have any specific questions, please refer to the <a
      href="#">Important Contact Information</a>. </p>

    <p class="text--bold">This page only highlights your benefit options. To make your elections, click the "Next" button to proceed to the Benefit Elections page.</p>

  </div><!-- /col -->

  <div class="col__xs--12">

    <div class="section">

      <div class="section__header">

        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h2 class="section__title">Open Enrollment News</h2>
        </span>

      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner">

          <p><span class="text--strong">Health Care Reform Notices.</span> Be sure to review the current benefits related compliance <a href="#" target="_blank">notices</a> mandated by the Federal government.</p>
          <p class="text--strong">Important Enrollment Reminders</p>
          <ul>
            <li>If you do not make any changes to your current elections during the open enrollment time period, they will rollover and remain the same for the new plan year.</li>
            <li>Most insurance premiums will be deducted from your paycheck on a pre-tax basis as permissible by <a href="#">Section 125</a> of the Internal Revenue Code (IRS) unless you indicate otherwise.</li>
            <li>Once the new plan year begins, your elections cannot be changed unless you or a dependent experience a <a href="#">Qualifying Event</a>.</li>
          </ul>

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->


    <div class="section">

      <div class="section__header">
        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h2 class="section__title">Coverage Options</h2>
        </span>
      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner">

          <div class="section__inner">
            <p>Each coverage option listed below is summarized in the Employee Benefit Highlights Booklet. For plan specifics, click on the links contained in each coverage description.</p>

            <h3 class="section__banner">Health Insurance</h3>
            <p class="section__desc">The following pans are provided by {Carrier Name}</p>
            <ul>
              <li>Open Access HMO</li>
              <li>Choice POS</li>
              <li>HDHP Choice POS with HSA*. <small class="text--emphasis">*The [Company Name] contributes $596.96/year, divided among the pay periods, into each HSA for all full-time employees who elect Employee Only coverage.</small></li>
            </ul>
          </div><!-- /section__inner -->

          <div class="section__inner">
            <h3 class="section__banner">Dental Insurance</h3>
            <p class="section__desc">The following pans are provided by {Carrier Name}</p>
            <ul>
              <li>DMO</li>
              <li>PPO</li>
            </ul>
          </div><!-- /section__inner -->

          <div class="section__inner">
            <h3 class="section__banner">Flexible Spending Accounts (FSAs)</h3>
            <p class="section__desc">The following pans are provided by {TPA Name}</p>
            <ul>
              <li>Medical FSA <small class="text--emphasis">Note: employees who enroll in the HDHP Choice POS with HSA are not eligible to enroll in this FSA.</small></li>
              <li>Dependent Care FSA</li>
            </ul>
          </div><!-- /section__inner -->

          <div class="section__inner">
            <h3 class="section__banner">Health Savings Accounts (HSAs)</h3>
            <p class="section__desc">Employees who enroll in the HDHP Choice POS health plan can open and contribute funds to an HSA that is administered by [Carrier Name] through Bank Name.</p>
            <ul>
              <li>Maximum annual contributions: $3,250 for Employee Only coverage and $6,450 if also covering dependents.</li>
              <li>The [Company Name] contributes $596.96/yr (divided among pay periods) for employees who elect Employee Only coverage.</li>
              <li>If you are enrolling in the Health Savings Account (HSA) for the first time, you will need to complete the HSA Enrollment Form and the HSA Beneficiary Form.</li>
            </ul>
          </div><!-- /section__inner -->

          <div class="section__inner">
            <h3 class="section__banner">Additional Life and Accidental Death and Dismemberment Insurance</h3>
            <p class="section__desc">The following supplemental employee life coverage options are provided by {Carrier Name}.</p>
            <ul>
              <li>Benefit increments of $10,000 up to a maximum of $250,000.</li>
            </ul>
          </div><!-- /section__inner -->

          <div class="section__inner">
            <p>Evidence of Insurability (EOI): To elect new coverage or to increase your current benefit amount, you must complete a Medical History Statement and submit for Underwriting approval before your new coverage becomes effective.</p>
          </div><!-- /section__inner -->

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->


    <div class="section">

      <div class="section__header">
        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h2 class="section__title">Employer Paid</h2>
        <span class="section__header--trigger">
      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner">

          <div class="section__inner">
            <p>The following benefits are 100% employer paid for every eligible full-time employee. Each coverage is summarized in the Employee Benefit Highlights Booklet.</p>

            <h3 class="section__banner">Basic Life and Accidental Death and Dismemberment (AD and D) Insurance</h3>
            <p class="section__desc">The following life coverages and benefit levels are provided by {Carrier Name}.</p>
            <ul>
              <li>Basic Life/AD and D: $20,000.</li>
            </ul>
          </div><!-- /section__inner -->

          <div class="section__inner">
            <h3 class="section__banner">Short Term Disability Insurance (STD)</h3>
            <p class="section__desc">The STD plan is provided by {Carrier Name}.</p>
          </div><!-- /section__inner -->

          <div class="section__inner">
            <h3 class="section__banner">Long Term Disability Insurance (LTD)</h3>
            <p class="section__desc">The LTD plan is provided by {Carrier Name}.</p>
          </div><!-- /section__inner -->

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->

  </div><!-- /col -->


  <div class="col__xs--12 alpha omega">
    <div class="col__xs--12 col__md--3">
      <a href="/dependent-information.html" class="button button--danger">Back</a>
    </div>
    <div class="col__xs--12 col__md--3 pull-right">
      <a href="/benefit-elections.html" class="button button--success button--right">Next</a>
    </div>
  </div><!-- /next-prev -->

</div><!-- /container -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')