@@include('./partials/head.htm')
@@include('./partials/header.htm')

<div class="container container--progress">

  <div class="col__xs--12">

    <ol class="progress">
      <li class="progress__step progress__step--active"><span class="progress__detail">Introduction</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Employee Information</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Dependent Information</span></li>
      <li class="progress__step"><span class="progress__detail">Benefit Highlights</span></li>
      <li class="progress__step"><span class="progress__detail">Benefit Elections</span></li>
      <li class="progress__step"><span class="progress__detail">Beneficiary Designations</span></li>
      <li class="progress__step"><span class="progress__detail">Summary of Elections</span></li>
    </ol><!-- /progress -->

  </div><!-- /col -->

</div><!-- /container--progress -->


<div class="container container--body">

  <div class="col__xs--12 extra--top">
    <h1 class="title title--page">Dependent Information</h1>

    <p>To view a current dependent record, click on the arrow next to the dependent name. To update demographic
      information for a current dependent, click "Edit". Please click "Save" once updates are complete. To cancel your
      changes, click "Cancel".</p>

    <p>If you are adding a dependent record for the first time, click on the "Add New" button. If you need to add more
      than one dependent, click "Add New" as many times as necessary to add multiple dependents. An asterisk denotes any
      dependent information that you must provide.</p>

    <p>Click Next to proceed through the enrollment process. You will have the option to elect benefits for yourself and
      any dependents, on the Benefit Elections page.</p>


    <div class="col__xs--12 col__md--3 pull-right omega">
      <a href="#" id="addNewDependent" class="button button--success button--right">Add New Dependent</a>
    </div><!-- /button -->
  </div>

  <div id="alerts-wrapper"></div>

  <div id="dependantSection" class="col__xs--12">

    <div class="section">

      <div class="section__header">

        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h2 class="section__title">Jane A. Doe</h2>
        </span><!-- /section__header--trigger -->

        <span class="actions">
          <a href="#" class="icon icon--edit fa fa-edit"></a>
          <a href="#" class="icon icon--delete fa fa-trash"></a>
        </span><!-- /actions -->

      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner clearfix">

          <form action="#">

            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__first form__item">
                <select name="prefix" id="prefix" required="false">
                  <option value="">Prefix</option>
                  <option value="mr">Mr.</option>
                  <option value="mrs">Mrs.</option>
                  <option value="miss">Miss.</option>
                  <option value="dr">Dr.</option>
                </select>
              </div>
            </div><!-- /Prefix -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="firstName" type="text" class="form__input" name="firstName" required="required">
                <label for="firstName" class="form__label">First Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /FirstName -->

            <div class="col__xs--12 col__md--2">
              <div class="form__item ">
                <input id="middleName" type="text" class="form__input" name="middleName" required="false">
                <label for="middleName" class="form__label">Middle Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /MiddleName -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="lastName" type="text" class="form__input" name="lastName" required="required">
                <label for="lastName" class="form__label">Last Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__item form__last">
                <input id="suffix" type="text" class="form__input" name="suffix" required="false">
                <label for="suffix" class="form__label">Suffix</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--2">
              <div class="form__first form__item required">
                <select name="gender" id="gender" required="required">
                  <option value="">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div><!-- /Gender -->

            <div class="col__xs--12 col__md--4">
              <div class="form__item form__item--icon required">
                <i class="form__icon fa fa-calendar"></i>
                <input id="dateOfBirth" type="text" class="form__input date-picker" name="dateOfBirth" required="required">
                <label for="dateOfBirth" class="form__label">DOB</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /Date of Birth -->

            <div class="col__xs--12 col__md--4 col__lg--2">
              <div class="form__last form__item required">
                <select name="maritalStatus" id="maritalStatus" required="required">
                  <option value="">Marital Status</option>
                  <option value="M">Married</option>
                  <option value="I">Single</option>
                  <option value="D">Divorced</option>
                  <option value="W">Widowed</option>
                  <option value="R">Unreported</option>
                  <option value="B">Registered Domestic Partner</option>
                  <option value="S">Separated</option>
                  <option value="X">Legally Separated</option>
                </select>
              </div>
            </div><!-- /Gender -->

          </form>

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->

    <div class="section">

      <div class="section__header">

        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h2 class="section__title">Kiddo D. Doe</h2>
        </span>

        <span class="actions">
          <a href="#" class="icon icon--edit fa fa-edit"></a>
          <a href="#" class="icon icon--delete fa fa-trash"></a>
        </span><!-- /actions -->

      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner clearfix">

          <form action="#">

            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__first form__item">
                <select name="prefix" id="prefix" required="false">
                  <option value="">Prefix</option>
                  <option value="mr">Mr.</option>
                  <option value="mrs">Mrs.</option>
                  <option value="miss">Miss.</option>
                  <option value="dr">Dr.</option>
                </select>
              </div>
            </div><!-- /Prefix -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="firstName" type="text" class="form__input" name="firstName" required="required">
                <label for="firstName" class="form__label">First Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /FirstName -->

            <div class="col__xs--12 col__md--2">
              <div class="form__item ">
                <input id="middleName" type="text" class="form__input" name="middleName" required="false">
                <label for="middleName" class="form__label">Middle Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /MiddleName -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="lastName" type="text" class="form__input" name="lastName" required="required">
                <label for="lastName" class="form__label">Last Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__item form__last">
                <input id="suffix" type="text" class="form__input" name="suffix" required="false">
                <label for="suffix" class="form__label">Suffix</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--2">
              <div class="form__first form__item required">
                <select name="gender" id="gender" required="required">
                  <option value="">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div><!-- /Gender -->

            <div class="col__xs--12 col__md--4">
              <div class="form__item form__item--icon required">
                <i class="form__icon fa fa-calendar"></i>
                <input id="dateOfBirth" type="text" class="form__input date-picker" name="dateOfBirth" required="required">
                <label for="dateOfBirth" class="form__label">DOB</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /Date of Birth -->

            <div class="col__xs--12 col__md--4 col__lg--2">
              <div class="form__last form__item required">
                <select name="maritalStatus" id="maritalStatus" required="required">
                  <option value="">Marital Status</option>
                  <option value="M">Married</option>
                  <option value="I">Single</option>
                  <option value="D">Divorced</option>
                  <option value="W">Widowed</option>
                  <option value="R">Unreported</option>
                  <option value="B">Registered Domestic Partner</option>
                  <option value="S">Separated</option>
                  <option value="X">Legally Separated</option>
                </select>
              </div>
            </div><!-- /Gender -->

          </form>

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->

  </div><!-- /col -->

  <div class="hiddenForm">

    <div class="section">

      <div class="section__header">

        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h2 class="section__title">Kiddo D. Doe</h2>
        </span>

        <span class="actions">
          <a href="#" class="icon icon--edit fa fa-edit"></a>
          <a href="#" class="icon icon--delete fa fa-trash"></a>
        </span><!-- /actions -->

      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner clearfix">

          <form action="#">

            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__first form__item">
                <select name="prefix" id="prefix" required="false">
                  <option value="">Prefix</option>
                  <option value="mr">Mr.</option>
                  <option value="mrs">Mrs.</option>
                  <option value="miss">Miss.</option>
                  <option value="dr">Dr.</option>
                </select>
              </div>
            </div><!-- /Prefix -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="firstName" type="text" class="form__input" name="firstName" required="required">
                <label for="firstName" class="form__label">First Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /FirstName -->

            <div class="col__xs--12 col__md--2">
              <div class="form__item ">
                <input id="middleName" type="text" class="form__input" name="middleName" required="false">
                <label for="middleName" class="form__label">Middle Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /MiddleName -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="lastName" type="text" class="form__input" name="lastName" required="required">
                <label for="lastName" class="form__label">Last Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__item form__last">
                <input id="suffix" type="text" class="form__input" name="suffix" required="false">
                <label for="suffix" class="form__label">Suffix</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--2">
              <div class="form__first form__item required">
                <select name="gender" id="gender" required="required">
                  <option value="">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div><!-- /Gender -->

            <div class="col__xs--12 col__md--4">
              <div class="form__item form__item--icon required">
                <i class="form__icon fa fa-calendar"></i>
                <input id="dateOfBirth" type="text" class="form__input date-picker" name="dateOfBirth" required="required">
                <label for="dateOfBirth" class="form__label">DOB</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /Date of Birth -->

            <div class="col__xs--12 col__md--4 col__lg--2">
              <div class="form__last form__item required">
                <select name="maritalStatus" id="maritalStatus" required="required">
                  <option value="">Marital Status</option>
                  <option value="M">Married</option>
                  <option value="I">Single</option>
                  <option value="D">Divorced</option>
                  <option value="W">Widowed</option>
                  <option value="R">Unreported</option>
                  <option value="B">Registered Domestic Partner</option>
                  <option value="S">Separated</option>
                  <option value="X">Legally Separated</option>
                </select>
              </div>
            </div><!-- /Gender -->

          </form>

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->

  </div>

  <div class="col__xs--12 alpha omega">
    <div class="col__xs--12 col__md--3">
      <a href="/employee-information.html" class="button button--danger">Back</a>
    </div>
    <div class="col__xs--12 col__md--3 pull-right">
      <a href="/benefit-highlights.html" class="button button--success button--right">Next</a>
    </div>
  </div><!-- /next-prev -->

</div><!-- /container -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')