@@include('./partials/head.htm')
@@include('./partials/header.htm')

<div class="container container--progress">

  <div class="col__xs--12">

    <ol class="progress">
      <li class="progress__step progress__step--active"><span class="progress__detail">Introduction</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Employee Information</span></li>
      <li class="progress__step"><span class="progress__detail">Dependent Information</span></li>
      <li class="progress__step"><span class="progress__detail">Benefit Highlights</span></li>
      <li class="progress__step"><span class="progress__detail">Benefit Elections</span></li>
      <li class="progress__step"><span class="progress__detail">Beneficiary Designations</span></li>
      <li class="progress__step"><span class="progress__detail">Summary of Elections</span></li>
    </ol><!-- /progress -->

  </div><!-- /col -->

</div><!-- /container--progress -->


<div class="container container--body">

  <div class="col__xs--12 extra--top">
    <h1 class="title title--page">Employee Information</h1>

    <p class="intro__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cum doloribus, eligendi eos,
      ipsa maiores molestias omnis placeat sapiente unde, velit vero! A ad at consequatur, delectus doloribus ea eveniet
      expedita in ipsa, ipsam laborum magnam natus rem voluptas voluptatibus.</p>
  </div>
  <div id="alerts-wrapper"></div>

  <div class="col__xs--12">

    <form action="#">

      <div class="section">
        <div class="section__header">
          <span class="section__header--trigger">
            <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
            <h2 class="section__title">Basic Info</h2>
          </span><!-- /section__header--trigger -->
        </div><!-- /section__header -->
        <div class="section__content">
          <div class="section__content--inner clearfix">
            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__first form__item">
                <select name="prefix" id="prefix" required="false">
                  <option value="">Prefix</option>
                  <option value="mr">Mr.</option>
                  <option value="mrs">Mrs.</option>
                  <option value="miss">Miss.</option>
                  <option value="dr">Dr.</option>
                </select>
              </div>
            </div><!-- /Prefix -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="firstName" type="text" class="form__input" name="firstName" required="required">
                <label for="firstName" class="form__label">First Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /FirstName -->

            <div class="col__xs--12 col__md--2">
              <div class="form__item ">
                <input id="middleName" type="text" class="form__input" name="middleName" required="false">
                <label for="middleName" class="form__label">Middle Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /MiddleName -->

            <div class="col__xs--12 col__md--3 col__lg--4">
              <div class="form__item required">
                <input id="lastName" type="text" class="form__input" name="lastName" required="required">
                <label for="lastName" class="form__label">Last Name</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--1">
              <div class="form__item form__last">
                <input id="suffix" type="text" class="form__input" name="suffix" required="false">
                <label for="suffix" class="form__label">Suffix</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /LastName -->

            <div class="col__xs--12 col__md--2 col__lg--2">
              <div class="form__first form__item required">
                <select name="gender" id="gender" required="required">
                  <option value="">Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div><!-- /Gender -->

            <div class="col__xs--12 col__md--4">
              <div class="form__item form__item--icon required">
                <i class="form__icon fa fa-calendar"></i>
                <input id="dateOfBirth" type="text" class="form__input date-picker" name="dateOfBirth" required="required">
                <label for="dateOfBirth" class="form__label">DOB</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /Date of Birth -->

            <div class="col__xs--12 col__md--4 col__lg--2">
              <div class="form__last form__item required">
                <select name="maritalStatus" id="maritalStatus" required="required">
                  <option value="">Marital Status</option>
                  <option value="M">Married</option>
                  <option value="I">Single</option>
                  <option value="D">Divorced</option>
                  <option value="W">Widowed</option>
                  <option value="R">Unreported</option>
                  <option value="B">Registered Domestic Partner</option>
                  <option value="S">Separated</option>
                  <option value="X">Legally Separated</option>
                </select>
              </div>
            </div><!-- /Gender -->
          </div><!-- /section__content--inner -->
        </div><!-- /section__content -->
      </div><!-- /section -->


      <div class="section">
        <div class="section__header">
          <span class="section__header--trigger">
            <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
            <h2 class="section__title">Contact Info</h2>
          </span><!-- /section__header--trigger -->
        </div><!-- /section__header -->
        <div class="section__content">
          <div class="section__content--inner clearfix">
            <div class="col__xs--12 col__md--4">
              <div class="form__item form__first required">
                <input id="streetAddress1" type="text" class="form__input" name="streetAddress1" required="required">
                <label for="streetAddress1" class="form__label">Street Address</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /StreetAddress -->

            <div class="col__xs--12 col__md--4">
              <div class="form__item">
                <input id="streetAddress2" type="text" class="form__input" name="streetAddress2" required="false">
                <label for="streetAddress2" class="form__label">Street Address 2</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /StreetAddress2 -->

            <div class="col__xs--12 col__md--4">
              <div class="form__item required">
                <input id="city" type="text" class="form__input" name="city" required="required">
                <label for="city" class="form__label">City</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /City -->

            <div class="col__xs--12 col__md--2">
              <div class="form__first form__item required">
                <select name="state" id="state" required="required">
                  <option value="">State/Province</option>
                  <option value="AK">AK</option>
                  <option value="AL">AL</option>
                  <option value="AR">AR</option>
                  <option value="AZ">AZ</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DC">DC</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="IA">IA</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="MA">MA</option>
                  <option value="MD">MD</option>
                  <option value="ME">ME</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MO">MO</option>
                  <option value="MS">MS</option>
                  <option value="MT">MT</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="NE">NE</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NV">NV</option>
                  <option value="NY">NY</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VA">VA</option>
                  <option value="VT">VT</option>
                  <option value="WA">WA</option>
                  <option value="WI">WI</option>
                  <option value="WV">WV</option>
                  <option value="WY">WY</option>
                </select>
              </div>
            </div><!-- /State -->

            <div class="col__xs--12 col__md--2">
              <div class="form__item required">
                <input id="zip" type="text" class="form__input" name="zip" required="required">
                <label for="zip" class="form__label">Zip / Postal Code</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /Zip -->

            <div class="col__xs--12 col__md--2">
              <div class="form__item">
                <input id="homePhone" type="text" class="form__input" name="homePhone" required="false">
                <label for="homePhone" class="form__label">Home Phone</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /Home Phone -->

            <div class="col__xs--12 col__md--2">
              <div class="form__item">
                <input id="cellPhone" type="text" class="form__input" name="cellPhone" required="false">
                <label for="cellPhone" class="form__label">Cell Phone</label>
                <span class="form__bar"></span>
              </div>
            </div><!-- /Cell Phone -->
          </div><!-- /section__content--inner -->
        </div><!-- /section__content -->
      </div><!-- /section -->

    </form>

    <div class="section">

      <div class="col__xs--12 alpha omega">
        <div class="col__xs--12 col__md--3">
          <a href="/open-enrollment.html" class="button button--danger">Back</a>
        </div>
        <div class="col__xs--12 col__md--3 pull-right">
          <a href="/dependent-information.html" class="button button--success button--right">Next</a>
        </div>
      </div>
    </div>

  </div><!-- /col -->

</div><!-- /container -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')