@@include('./partials/head.htm')

<div class="wrapper big-blue">
  <div class="container">
    <div class="col__xs--12 col__md--6 section--height">

      <nav class="help-nav">
        <a href="#change-password" class="help-nav__item">Change Passport</a>
        <a href="#change-security-answer" class="help-nav__item">Change Security Answer</a>
        <a href="#contact-support" class="help-nav__item">Contact Support</a>
        <a href="#" class="help-nav__item">User Guide</a>
        <a href="#system-requirements" class="help-nav__item">System Requirements</a>
      </nav>

    </div><!-- /container -->

    <div class="col__xs--12 col__md--6 section--height">
      <div class="login-area">
        <div class="centerer">

          <div class="help-section help-hide change-password">
            <h1 class="title--sub title--light">Change Password</h1>

            <form id="changePasswordForm" class="form--light clearfix" action="#" method="POST">

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <input id="oldPassword" type="password" class="form__input" name="oldPassword" required="required"/>
                  <label for="oldPassword" class="form__label">Old Password</label>
                  <span class="form__bar"></span>
                </div><!-- /OldPassword -->
              </div><!-- /OldPassword Col -->

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <input id="newPassword" type="password" class="form__input" name="newPassword" required="required"/>
                  <label for="newPassword" class="form__label">New Password</label>
                  <span class="form__bar"></span>
                </div><!-- /OldPassword -->
              </div><!-- /NewPassword Col -->

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <input id="newPassword2" type="password" class="form__input" name="newPassword2" required="required"/>
                  <label for="newPassword2" class="form__label">Confirm Password</label>
                  <span class="form__bar"></span>
                </div><!-- /OldPassword -->
              </div><!-- /NewPassword2 Col -->


              <div class="col__xs--12 alpha omega">
                <input id="changePassword" type="submit" class="button button--ghost" value="Change Password">
              </div><!-- /submit -->

            </form>
          </div><!-- /change-password -->

          <div class="help-section help-hide change-security-answer">
            <h1 class="title--sub title--light">Change Security Answer</h1>

            <form id="changeSecurityAnswerForm" class="form--light clearfix" action="#" method="POST">

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <select name="prefix" id="prefix" required="required">
                    <option value="">Security Question.</option>
                    <option value="1">What is your favorite color?</option>
                    <option value="2">What is the name of your pet?</option>
                    <option value="3">What high school did you attend?</option>
                  </select>
                </div><!-- /securityQuestion -->
              </div><!-- /securityQuestion Col -->

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <input id="securityAnswer" type="text" class="form__input" name="securityAnswer" required="required"/>
                  <label for="securityAnswer" class="form__label">Security Answer</label>
                  <span class="form__bar"></span>
                </div><!-- /securityAnswer -->
              </div><!-- /securityAnswer Col -->

              <div class="col__xs--12 alpha omega">
                <input id="changeAnswer" type="submit" class="button button--ghost" value="Change Answer">
              </div><!-- /submit -->

            </form>
          </div><!-- /change-security-question -->

          <div class="help-section contact-support">
            <h1 class="title--sub title--light">Contact Support</h1>

            <form id="contactSupportForm" class="form--light clearfix" action="#" method="POST">

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <input id="supportName" type="password" class="form__input" name="supportName" required="required"/>
                  <label for="supportName" class="form__label">Name</label>
                  <span class="form__bar"></span>
                </div><!-- /supportName -->
              </div><!-- /supportName Col -->

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <input id="supportPhone" type="password" class="form__input" name="supportPhone" required="required"/>
                  <label for="supportPhone" class="form__label">Contact Number</label>
                  <span class="form__bar"></span>
                </div><!-- /supportPhone -->
              </div><!-- /supportPhone Col -->

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <input id="contactEmail" type="password" class="form__input" name="contactEmail" required="required"/>
                  <label for="contactEmail" class="form__label">Contact Email</label>
                  <span class="form__bar"></span>
                </div><!-- /contactEmail -->
              </div><!-- /contactEmail Col -->

              <div class="col__xs--12 alpha omega">
                <div class="form__item  required">
                  <textarea class="form__textarea" rows="5">What is your message...</textarea>
                </div><!-- /contactEmail -->
              </div><!-- /contactEmail Col -->

              <div class="col__xs--12 alpha omega">
                <input id="contactSupport" type="submit" class="button button--ghost" value="Contact Support">
              </div><!-- /submit -->

            </form>
          </div><!-- /contact-support -->

          <div class="help-section help-hide system-requirements">
            <h1 class="title--sub title--light">System Requirements</h1>

            <p>Internet Explorer 7.0 and higher or Mozilla Firefox 3.6.3 only. Other browsers can not be supported due to their inability to display certain elements.</p>
            <ul>
              <li>JavaScript must be enabled</li>
              <li>Adobe Acrobat Reader must be installed</li>
              <li>Minimum recommended screen resolution: 1024 x 768</li>
            </ul>

          </div><!-- /contact-support -->




        </div><!-- /centerer -->
      </div><!-- /login-area -->
    </div><!-- /col -->

  </div><!-- /container -->
</div><!-- /big-blue -->


@@include('./partials/nav.htm')
@@include('./partials/footer.htm')