@@include('./partials/head.htm')

<div class="wrapper big-blue">
  <div class="container">
    <div class="col__xs--12 col__md--6 section--height">
      <div class="logo-wrapper">
        <div class="client-wrapper">
          <img src="images/logo--client.png" alt="Client Logo">
        </div><!-- /client-wrapper -->
        <div class="company-wrapper">
          <p>Powered By :</p>
          <img src="images/logo--white.png" alt="BenTek Logo">
        </div><!-- /company-wrapper -->
      </div><!-- /logo-wrapper -->
    </div><!-- /container -->

    <div class="col__xs--12 col__md--6 section--height">
      <div class="login-area">
        <div class="centerer">
          <h1 class="title--sub title--light">Login</h1>

          <form id="loginForm" class="form--light clearfix" action="#" method="POST">

            <div class="col__xs--12 alpha omega">
              <div class="form__item  required">
                <input id="userName" type="text" class="form__input" name="userName" required="required" data-validetta="minLength[2]"/>
                <label for="userName" class="form__label">User Name</label>
                <span class="form__bar"></span>
              </div><!-- /UserName -->
            </div><!-- /UserName Col -->

            <div class="col__xs--12 alpha omega">
              <div class="form__item  required">
                <input id="password" type="password" class="form__input" name="password" required="required" />
                <label for="password" class="form__label">Password</label>
                <span class="form__bar"></span>
              </div><!-- /UserName -->
            </div><!-- /UserName Col -->

            <div class="col__xs--12 alpha omega">
              <input id="login" type="submit" class="button button--ghost" value="Login">
            </div><!-- /submit -->

            <div class="col__xs--6 alpha">
              <div class="form__item">
                <input type="checkbox" class="form__check" id="rememberMe">
                <label for="rememberMe" class="form__label form__label--check">Remember Me</label>
              </div>
            </div><!-- /Remember Me -->

            <div class="col__xs--6 omega">
              <div class="form__item">
                <a href="#" class="link link--light align--right">Forgot Password?</a>
              </div>
            </div><!-- /forgot password Me -->

          </form>

          <div class="create-account">
            <a href="#">Create an account</a>
          </div><!-- /create-account -->

        </div><!-- /centerer -->
      </div><!-- /login-area -->
    </div><!-- /col -->

    <div class="col__xs--12">
      <div class="login-menu">
        <a href="#" class="login-menu__item">Create an account video</a>
        <a href="#" class="login-menu__item">Employee benefit highlights booklet</a>
        <a href="#" class="login-menu__item">Important contact information</a>
        <a href="#" class="login-menu__item">Open enrollment quick guide</a>
        <a href="#" class="login-menu__item">BenTek user guide</a>
      </div><!-- /login-menu -->
    </div><!-- /col -->

  </div><!-- /container -->
</div><!-- /big-blue -->

<div class="wrapper">
  <div class="container">
    <div class="col__xs--12">
      <div class="login-content">

        <p>Enter your Username and Password to access your employee benefits information. If you have not created a Username and Password, click on the link next to "First Time User" For technical assistance, please e-mail <a href="#">BenTek Support</a> or call (888) 5-BenTek.</p>

        <p><a href="#">BenTek Security Statement</a></p>

        <a class="secured-by" href="#">
          <span class="secured-by__date">01/01/2016</span>
        </a>

        <p>Copyright &copy; 2005-2016 BenTek. All rights reserved.</p>

      </div><!-- /login-content -->
    </div><!-- /col -->
  </div><!-- /container -->
</div><!-- /wrapper -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')