@@include('./partials/head.htm')
@@include('./partials/header.htm')

<div class="container container--progress">

  <div class="col__xs--12">

    <ol class="progress">
      <li class="progress__step progress__step--active"><span class="progress__detail">Introduction</span></li>
      <li class="progress__step"><span class="progress__detail">Employee Information</span></li>
      <li class="progress__step"><span class="progress__detail">Dependent Information</span></li>
      <li class="progress__step"><span class="progress__detail">Benefit Highlights</span></li>
      <li class="progress__step"><span class="progress__detail">Benefit Elections</span></li>
      <li class="progress__step"><span class="progress__detail">Beneficiary Designations</span></li>
      <li class="progress__step"><span class="progress__detail">Summary of Elections</span></li>
    </ol><!-- /progress -->

  </div><!-- /col -->

</div><!-- /container--progress -->

<div class="container container--body">

  <div class="col__xs--12 extra--top">
    <h1 class="title title--page">Open Enrollment</h1>

    <p>This year's annual open enrollment period will be from [Date] through midnight [Date]. During this time, you will
      be able to make new benefit elections or changes to your current elections online, 24 hours a day. BenTek also
      provides you with benefit related summaries, links, and websites to help you make informed decisions.</p>

    <p class="text--bold">Important Reminder: Once you complete your enrollment, you MUST click the Submit button on the
      Summary of Elections page in order for your elections to be saved.</p>

    <p class="text--danger">Check out the short tutorial link below on how to navigate through the Open-Enrollment
      module in seven clicks: Open Enrollment Video</p>

    <a href="/employee-information.html" class="button button--success button--right">Start</a>
  </div>

</div><!-- /container -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')