@@include('./partials/head.htm')
@@include('./partials/header.htm')

<div class="container container--body">


  <div class="col__xs--12 extra--top">
    <h1 class="title title--page">QE Pending List</h1>
    <p>Only one qualifying life event may be reported and reviewed at any given time. <span class="text--bold">Please be sure to submit your qualifying life event at the end of the process or else it will not be reviewed for approval.</span></p>
    <p>For technical assistance, please contact <a href="#">BenTek Support</a> or call (888) 5-BenTek. If you require further explanation regarding any of your available employee benefits, please contact your Benefits Administrator.</p>
  </div><!-- /col -->

  <div class="col__xs--12">

    <div class="section">

      <div class="section__header">
        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h2 class="section__title">Status</h2>
        </span>
      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner">

          <h3 class="section__banner">Pending Event Status</h3>

          <table class="table" data-doc-info>
            <thead class="table__head">
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Event Date</th>
                <th scope="col">Status</th>
                <th scope="col">Effective Date</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr>
                <th scope="row">Birth, adoption or other new dependent child eligible event</th>
                <td data-title="Event Date">11/8/2015</td>
                <td data-title="Status"><span class="text--danger">Not Reviewed</span></td>
                <td data-title="Effective Date"></td>
              </tr>
              <tr>
                <th scope="row">Marriage</th>
                <td data-title="Event Date">11/26/2012</td>
                <td data-title="Status">All Changes Denied</td>
                <td data-title="Effective Date">11/26/2012</td>
              </tr>
              <tr>
                <th scope="row">Divorce or annulment</th>
                <td data-title="Event Date">7/11/2012</td>
                <td data-title="Status">All Changes Approved</td>
                <td data-title="Effective Date">7/11/2012</td>
              </tr>
              <tr>
                <th scope="row">Marriage</th>
                <td data-title="Event Date">7/11/2012</td>
                <td data-title="Status">All Changes Denied</td>
                <td data-title="Effective Date">7/11/2012</td>
              </tr>
            </tbody>
          </table>

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->

    <div class="section isClosed">

      <div class="section__header">
        <span class="section__header--trigger">
          <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
          <h3 class="section__title">Required Documentation</h3>
        </span>
      </div><!-- /section__header -->

      <div class="section__content">

        <div class="section__content--inner">

          <table class="table" data-doc-info>
            <thead class="table__head">
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Event Date</th>
              <th scope="col">Document</th>
            </tr>
            </thead>
            <tbody class="table__body">
            <tr>
              <th scope="row" data-title="Item">Birth, adoption or other new dependent child eligible event</th>
              <td data-title="Event Date">11/5/2015</td>
              <td data-title="Document">Birth Certificate</td>
            </tr>
            <tr>
              <th scope="row" data-title="Item">Marriage</th>
              <td data-title="Event Date">11/26/2012</td>
              <td data-title="Document">Marriage License</td>
            </tr>
            <tr>
              <th scope="row" data-title="Item">Divorce or annulment</th>
              <td data-title="Event Date">7/11/2012</td>
              <td data-title="Document">Divorce Decree</td>
            </tr>
            <tr>
              <th scope="row" data-title="Item">Marriage</th>
              <td data-title="Event Date">7/11/2012</td>
              <td data-title="Document">Marriage License</td>
            </tr>
            </tbody>
          </table>

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->

  </div><!-- /col -->
</div><!-- /container -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')