@@include('./partials/head.htm')
@@include('./partials/header.htm')

<div class="container container--progress">

  <div class="col__xs--12">

    <ol class="progress">
      <li class="progress__step progress__step--active"><span class="progress__detail">Introduction</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Employee Information</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Dependent Information</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Benefit Highlights</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Benefit Elections</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Beneficiary Designations</span></li>
      <li class="progress__step progress__step--active"><span class="progress__detail">Summary of Elections</span></li>
    </ol><!-- /progress -->

  </div><!-- /col -->

</div><!-- /container--progress -->

<div class="container container--body">

  <div class="col__xs--12 extra--top">
    <h1 class="title title--page">Elections Submitted</h1>

    <p class="text--bold">You have completed the Open Enrollment process and your elections have been submitted.</p>

    <p>To view, print, and/or save your Summary of Elections statement, click on the Download button. You can return to the site via the "Menu" button or to exit the system, click on the "Logout" button located at top right of the page.</p>

    <a href="#" class="button button--success button--right">Download</a>
  </div>

</div><!-- /container -->

@@include('./partials/nav.htm')
@@include('./partials/footer.htm')