@@include('./partials/head.htm')
@@include('./partials/header-admin.htm')

<div class="container container--body">

  <div class="col__xs--12">
    <h1 class="title title--page">Web FTP</h1>

    <p>The WebFTP is a secure location utilized by Administrators, Carriers, and/or Third Party Vendors to access files
      that contain PHI. Carriers and Third Party Vendors are provided individual accounts for access to the FTP, where
      they can access any files uploaded by the Administrator. File types include, but are not limited to premium
      back-up, client personnel and payroll files, and all reports that are available to generate within the BenTek
      application.</p>
    <p>Select the desired folder from the list below and any applicable sub-folder before you upload files. Selecting
      your folder(s) first will place the file directly into that folder. If you do not select your folder(s) first, the
      file will be uploaded to the Root folder; you will then be required to move/copy it to the desired folder.</p>
    <p>If you need assistance uploading files or accessing files on the FTP, please email <a
      href="mailto:support@bentek.com?subject=Question about WebFTP">BenTek Support</a> or call the BenTek Hotline for
      assistance, 888-523-6835.</p>

  </div><!-- /col -->

  <div class="col__xs--12">

    <div class="section">

      <div class="section__header">

          <span class="section__header--trigger">
            <span class="section__arrow"><i class="fa fa-caret-right"></i></span>
            <h2 class="section__title">File Selection</h2>
          </span>

      </div><!-- /section__header -->

      <div class="section__sub-header clearfix">
        <form id="loginForm" class="form--light clearfix" action="#" method="POST">
          <div class="col__xs--12 col__md--4">
            <div class="form__item form__item--icon">
              <i class="form__icon fa fa-file"></i>
              <input id="fileUpload" type="file" class="form__input" name="fileUpload" required="required">
              <span class="form__bar"></span>
            </div>
          </div>
          <div class="col__xs--12 col__md--4">
            <input id="login" type="submit" class="button button--ghost" value="Upload">
          </div>
        </form>
      </div><!-- /section__sub-header -->

      <div class="section__content">

        <div class="section__content--inner">

          <div class="col__xs--12 col__md--4 alpha">

            <div class="folder-sub-header">
              <p>Folders</p>
              <div class="folder-actions">
                <a href="#" class="action-icon action-icon--light fa fa-plus"><span>Add New Folder</span></a>
                <a href="#" class="action-icon action-icon--light fa fa-trash"><span>Trash</span></a>
                <a href="#" class="action-icon action-icon--light fa fa-edit"><span>Delete Folder</span></a>
              </div><!-- /ftp-actions -->
            </div><!-- /ftp-sub-header -->

            <div class="folder-section">
              <div class="folders">

                <a href="#" class="folder-wrapper"><i class="fa fa-minus-square-o"></i> Roots</a>
                <div class="folder-group">
                  <a href="#"><i class="fa fa-minus-square-o"></i> Sub Folder One</a>
                  <div class="folder-sub">
                    <a href="#"><i class="fa fa-minus-square-o"></i> Sub Sub Folder One</a>
                  </div><!-- /folder-sub -->
                </div><!-- /folder-group -->

                <div class="folder-group">
                  <a href="#"><i class="fa fa-plus-square-o"></i> Sub Folder Two</a>
                  <div class="folder-sub isClosed">
                    <a href="#"><i class="fa fa-minus-square-o"></i> Sub Sub Folder One</a>
                    <div class="folder-sub isClosed">
                      <a href="#"><i class="fa fa-minus-square-o"></i> Sub Sub Sub Folder One</a>
                    </div><!-- /folder-sub -->
                  </div><!-- /folder-sub -->
                </div><!-- /folder-group -->

                <div class="folder-group">
                  <a href="#">Sub Folder Three</a>
                </div><!-- /folder-group -->

                <div class="folder-group">
                  <a href="#">Sub Folder Four</a>
                </div><!-- /folder-group -->

                <div class="folder-group">
                  <a href="#">Sub Folder Five</a>
                </div><!-- /folder-group -->

                <div class="folder-group">
                  <a href="#">Sub Folder Six</a>
                </div><!-- /folder-group -->

                <div class="folder-group">
                  <a href="#">Sub Folder Seven</a>
                </div><!-- /folder-group -->
                <div class="folder-group">
                  <a href="#">Sub Folder Eight</a>
                </div><!-- /folder-group -->


              </div><!-- /folder -->

            </div><!-- /ftp-section -->

          </div><!-- /col -->

          <div class="col__xs--12 col__md--8 alpha omega">

            <div class="file-section">

              <table class="table" data-doc-info>
                <thead class="table__head">
                <tr>
                  <th scope="col">Folders</th>
                  <th scope="col">Date Modified</th>
                  <th scope="col">Size</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="table__body">
                <tr>
                  <th scope="row"><i class="fa fa-file-text-o"></i> <a href="#">20141118-081545-TRFSupport.cvs</a></th>
                  <td data-title="Date Modified">11/18/2014 08:15:45 AM</td>
                  <td data-title="Size">1 KB</td>
                  <td data-title="Actions">
                    <a href="#" class="action-icon fa fa-edit rename-file"><span>Rename</span></a>
                    <a href="#" class="action-icon fa fa-copy copy-file"><span>Copy</span></a>
                    <a href="#" class="action-icon fa fa-trash delete-file"><span>Trash</span></a>
                  </td>
                </tr>
                </tbody>
              </table>

            </div><!-- /file-section -->

          </div><!-- /col -->

        </div><!-- /section__content--inner -->

      </div><!-- /section__content -->

    </div><!-- /section -->

  </div><!-- /col -->

</div><!-- /container -->

@@include('./partials/nav-admin.htm')
@@include('./partials/footer.htm')

