.accordion-group {
  margin-top: $padding*2;
  margin-bottom: $padding;
  min-height: 35px;

}

.accordion-menu {
  position: relative;
  &:after{
    @extend .clearfix;
  }
}

.accordion__info {
  width: 100%;
  display: inline-block;
  margin: 0;
  position: relative;
  cursor: pointer;
  user-select: none;

  @include border-bottom($color: $black, $size: 3px);
}

.accordion__arrow {
  background: $black;
  padding: $padding/2 $padding;
  color: $white;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}

.accordion__title {
  font-family: $font-family;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
  display: inline-block;
  height: $padding;
  margin: 2px $padding/2;
}

.accordion__actions {
  display: inline-block;
  margin: 0;
  position: relative;
  cursor: pointer;
  text-align: right;
  @include border-bottom($color: $black, $size: 3px);
}

.icon {
  display: inline-block;
  color: $black;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 6px;

  &:not(:last-child) {
    margin-right: $padding;
  }

  &:hover {
    text-decoration: none;
  }
}


.accordion-content{

  .isClosed & {
    overflow: hidden;
    height: 0;
  }
}

.accordion-content--inner{
  padding: $padding;
  @include border-bottom( $type: dashed);
  background: $white;
}