// ---- Mixins ---- //
@mixin alertColor( $bgColor : $brand-info, $textColor : $brand-info-dark){
  background: rgba($bgColor, 0.25);
  color: $textColor;
  @include border-left($color: $textColor);

  .alert__close {
    color: $textColor;

    &:hover {
      color: $bgColor;
      background: $textColor;
    }
  }
}


// ---- Alerts ---- //
#alertWrapper{
  position: relative;
}

.alert {
  background: rgba($gray-darker, 0.25);
  padding: $padding;
  color: $gray-darker;
  @include border-left();
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}

.alert__inner {
  position: relative;
}

.alert__message {
  line-height: $line-height;
  margin: 0;
  display: inline-block;
}

.alert__close {
  display: inline-block;
  position: absolute;
  color: $gray-darker;
  top: -$padding/4;
  right: -$padding/2;
  padding: $padding/4 $padding;
  border-radius: 50%;

  &:hover {
    background: $gray-dark;
    color: $gray-light;
    text-decoration: none;
  }
}

// ---- [ Colors ----- //
.alert--success {
  @include alertColor($brand-success, $brand-success-dark);
}

.alert--info {
  @include alertColor($brand-info, $brand-info-dark);
}

.alert--danger {
  @include alertColor($brand-danger, $brand-danger-dark);
}

.alert--warning {
  @include alertColor($brand-warning, $brand-warning-dark);
}