*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

body {
  font-family: $font-family;
  font-weight: $font-weight-light;
  font-size: $font-size-base;
  color: $black;
  background: $white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: $line-height;
}

a {
  text-decoration: none;
  color: $brand-primary;
  font-weight: $font-weight-regular;
  display: inline-block;

  &:hover {
    text-decoration: underline;
    color: $brand-primary-dark;
  }

  span {
    text-indent: -9999px;
    display: inline-block;
    width: 0;

    @media(max-width: $breakpoint-md) {
      //text-indent: 5px;
    }
  }
}

.link {

  font-size: $font-size-x-small;

  &--light {
    color: $white;

    &:hover {
      color: $gray-light;
    }
  }

}

[class*='align-'] {
  display: inline-block;

  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
}

::selection {
  background: $brand-warning;
}

.container {
  //background : rgba( $brand-danger, 0.25%);
}

.extra--top {
  padding-top: $padding*4;
}

.centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  margin-bottom: $padding*3;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.section__header {
  @include border-bottom($color: $black, $size: 3px);
  margin: $padding 0 0;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.section__header--trigger {
  cursor: pointer;
  user-select: none;
}

.section__number,
.section__arrow {
  background: $black;
  padding: $padding/2 $padding;
  color: $white;
  i {
    position: relative;
  }
}

.section__arrow i {
  transform: rotate(90deg);

  .isClosed & {
    transform: rotate(0deg);
  }
}

.section__title {
  font-family: $font-family;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
  display: inline-block;
  height: $padding;
  margin: 2px $padding/2;
}

.section__content {
  background: $gray-lighter;
  @include border-bottom();

  .isEditing & {
    background: rgba($brand-warning, 0.25);
  }

  .isClosed & {
    overflow: hidden;
    height: 0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.section__content--inner {
  padding: $padding/2 $padding;
}

.section__banner {
  font-size: $font-size-medium;
  font-weight: $font-weight-heavy;
  margin: 0;
  padding: 0;
}

.section__desc {
  padding: 0;
  margin: 0;
}

.section__inner {
  @include border-bottom($type: dashed);
  margin-bottom: $padding;
  padding-bottom: $padding;
}

.section__sub-header {
  //background: $black;
  background: $brand-primary-dark;
  padding: $padding/2 $padding;
}

.sub-header__text {
  font-size: $font-size-x-small;
  margin: 0;
  padding: 0;
  color: $white;
}

.actions {
  float: right;
  display: inline-block;
}

.icon {
  display: inline-block;
  color: $black;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 6px;

  &:not(:last-child) {
    margin-right: $padding/2;
  }

  &:hover {
    text-decoration: none;
    color: $gray-light
  }
}

.message--agreement {
  @include border($color: $brand-danger-dark);
  background: $brand-danger;
  color: $white;
  padding: $padding*2;
  font-size: $font-size-small;

  p {
    margin: 0 0 $padding;
  }
}

// ------- [ Benefit Elections ] ------- //

.benefit-data {
  margin: $padding auto $padding*2;
  background: $white;
}

.benefit-data__header {
  margin: 0;
  padding: $padding/2 0;
  background: $brand-primary-dark;
  color: $white;
  font-size: $font-size-small;

  a {
    color: $white;
    font-size: $font-size-x-small;
  }
  p {
    margin: 0;
  }
}

.benefit-data__title {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  margin: $padding 0 $padding/2;
}

.form--group {
  margin-bottom: $padding;
  padding-bottom: $padding;
  border-bottom: 1px solid $gray-light;
}

// --- [ Slider ] ---- //

.slider-area {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: $padding;
}

.slider--range {
  width: 80%;
  height: 4px;
  border: 0;
  border-radius: 100px;
  background: $gray-light;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .ui-slider-handle {
    position: absolute;
    margin: -12px 0 0 -17px;
    border-radius: 100px;
    background: $brand-primary;
    color: $white;
    border: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 34px;
    outline: none;
    cursor: pointer;
    font-size: 8px;
    font-weight: 800;
    text-decoration: none;
    transition: transform 0.1s ease;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  .ui-slider-range {
    background: $brand-primary;
    height: 5px;
  }
}

.hiddenForm {
  display: none;
}




// ---- [ Powered By ] ---- //
.powered-by{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: $padding/2 $padding;
  background: $gray-lighter;
  @include border($color: $gray-light);

  span {
    font-weight: $font-weight-bold;
  }

  @media( max-width: $breakpoint-md){
    position: relative;
    text-align: right;
  }
}