// ---- Mixins ---- //
@mixin buttonColor( $textColor: $brand-primary, $colorDark: $brand-primary-dark, $textColorHover: $white) {
  color: $textColor;
  @include border($color: $textColor);

  &:hover {
    color: $textColorHover;
    background: $textColor;
    text-decoration: none;
  }

  &:active {
    background: $colorDark;
  }
}

// ---- Buttons ---- //

.button {
  background: none;
  cursor: pointer;
  float: left;
  font-size: $font-size-base;
  margin-top: $padding;
  width: 100%;
  height: 0;
  padding: 10px 0 35px;
  font-weight: $font-weight-light;
  display: inline-block;
  text-align: center;

  &[disabled='disabled'] {
    background: $gray-light;
    color: $gray-medium;
    cursor: default;
    @include border($color: $gray-light);

    &:hover {
      background: $gray-light;
      color: $gray-medium;
    }
  }

  @include default-transition();

  @include buttonColor();

}

.button--success {
  @include buttonColor($brand-success, $brand-success-dark);
}

.button--warning {
  @include buttonColor($brand-warning, $brand-warning-dark);
}

.button--danger {
  @include buttonColor($brand-danger, $brand-danger-dark);
}

.button--ghost {
  @include buttonColor($white, $brand-primary, $brand-primary);
  &:active {
    color: $brand-primary;
    background: $gray-lighter;
    @include border($color: $gray-lighter);
  }
}

.button--mini {
  width: 75px;
  padding: 5px 0 30px;
  font-size: $font-size-x-small;
}

.button--sm {
  width: 100px;
  padding: 10px 0 35px;
  font-size: $font-size-small;
}

.button--md {
  width: 150px;
  padding: 15px 0 40px;
  font-size: $font-size-medium;
}

.button--lg {
  width: 150px;
  padding: 20px 0 50px;
  font-size: $font-size-large;
}

.button--xl {
  width: 225px;
  padding: 25px 0 50px;
  font-size: $font-size-x-large;
}

.button--xxl {
  width: 275px;
  padding: 35px 0 70px;
  font-size: $font-size-xx-large;
}