// ---- [ Form Input - Text ] ---- //

//.form__row,
//.form__item{
//  margin-top: 25px;
//  position: relative;
//
//  @media (max-width: $breakpoint-md) {
//    padding-left: 0;
//    padding-right: 0;
//  }
//}

// over writes the padding and positions
.form__first {
  padding-left: 0;

  .form__label {
    left: $padding/2;
  }

  .label {
    margin: 0 $padding/2;
  }
}

.form__last {
  padding-right: 0;
}

//.form__row--icon {
//
//  .form__label {
//    left: $padding*1.75;
//  }
//  .form__input {
//    padding-left: $padding;
//  }
//}
//
//.form__icon {
//  position: absolute;
//  left: $padding/1.5;
//  top: $padding/2;
//}

//.form__label {
//  cursor: pointer;
//  position: absolute;
//  color: $gray-dark;
//  font-size: $font-size-x-small;
//  left: $padding;
//  top: $padding/2;
//  transition: $transition-time all ease-out;
//
//  @media (max-width : $breakpoint-md){
//    left: $padding/2;
//  }
//}

//.form__input {
//  width: 100%;
//  font-size: $font-size-x-small;
//  padding: $padding/2;
//  background: $white;
//  border: none;
//  @include border-bottom();
//
//  &:focus {
//    outline: none;
//  }
//
//  &:focus ~ .form__label,
//  &:valid ~ .form__label {
//    letter-spacing: 1px;
//    font-size: $font-size-xx-small;
//    color: $gray-medium;
//    top: -$padding/2;
//    left: $padding/2;
//  }
//}

//.form__item.required {
//
//  &:before {
//    content: '*';
//    width: 20px;
//    height: 100%;
//    position: absolute;
//    background: $brand-warning;
//    color: $white;
//    font-size: $font-size-small;
//    @include border-bottom( $color: $brand-warning);
//    text-align: center;
//    padding: 10px 0 0;
//    right: $padding/2;
//    border-radius: 0 10px 0 0;
//    z-index: 20;
//
//    @media (max-width: $breakpoint-md) {
//      right: 0;
//    }
//
//  }
//}

.form__last.required {
  &:before {
    right: 0;
  }
}

//.form__bar {
//  position: relative;
//  width: 100%;
//  display: block;
//
//  &:before,
//  &:after {
//    content: '';
//    height: 3px;
//    width: 0;
//    bottom: 0;
//    position: absolute;
//    background: $brand-primary;
//    transition: $transition-time all ease;
//  }
//
//  &:before {
//    left: 50%;
//  }
//  &:after {
//    right: 50%;
//  }
//
//}
//
//.form__input:focus ~ .form__bar:before,
//.form__input:focus ~ .form__bar:after,
//.form__input.used ~ .form__bar:before,
//.form__input.used ~ .form__bar:after {
//  width: 50%;
//}

//// ---- [ Form Header ] ---- //
//.form-section {
//  margin-bottom: $padding*2;
//}
//
//.form__header {
//  @include border-bottom($color: $black, $size: 2px);
//  margin-bottom: $padding/2;
//}
//
//.form-section__number {
//  background: $black;
//  padding: $padding/4 $padding/2;
//  color: $white;
//}
//
//.form-section__title {
//  font-family: $font-family;
//  font-weight: $font-weight-light;
//  font-size: $font-size-medium;
//  display: inline-block;
//  margin: 2px $padding/2;
//}

@import 'form-selectric';