.form__item {
  margin-top: $padding*2;
  position: relative;

  @media (max-width: $breakpoint-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__label {
  cursor: pointer;
  position: absolute;
  color: $gray-dark;
  font-size: $font-size-x-small;
  left: $padding/2;
  top: 0;
  @include default-transition();

  @media (max-width: $breakpoint-md) {
    left: $padding/2;
  }

  .form--light & {
    color: $white;
  }

  &--check {
    padding-left: $padding;
  }

}

.form__input {
  width: 100%;
  font-size: $font-size-x-small;
  padding: $padding/2;
  background: none;
  border: none;
  @include border-bottom();

  .form--light & {
    @include border-bottom($color: $white);
    color: $white;
  }

  &:focus {
    outline: none;
  }

  &:focus ~ .form__label,
  &:valid ~ .form__label {
    letter-spacing: 1px;
    font-size: $font-size-xx-small;
    color: $gray-medium;
    top: -$padding;
    left: 0;

    .form--light & {
      color: $white;
    }
  }
}

.form__bar {
  position: relative;
  width: 100%;
  display: block;

  &:before,
  &:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $brand-primary;
    @include default-transition();

    .form--light & {
      background: $brand-primary-dark;
    }
  }

  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }

}

.form__input:focus ~ .form__bar:before,
.form__input:focus ~ .form__bar:after,
.form__input.used ~ .form__bar:before,
.form__input.used ~ .form__bar:after {
  width: 50%;
}

.form__item.required {

  &:before {
    content: '*';
    width: 20px;
    height: 100%;
    position: absolute;
    padding: 5px 0 0;
    background: $brand-warning;
    color: $white;
    font-size: $font-size-small;
    text-align: center;
    border-radius: 0 10px 0 0;
    right: 0;
    z-index: 20;
    @include border-bottom($color: $brand-warning);

    .form--light & {
      background: $white;
      color: $brand-primary;
      @include border-bottom($color: $white);
    }

    @media (max-width: $breakpoint-md) {
      right: 0;
    }

  }
}

.form__item--icon {

  .form__label {
    left: $padding*2;
  }
  .form__input {
    padding-left: $padding*2;
  }
}

.form__icon {
  position: absolute;
  left: $padding/2;
  top: $padding/2;

  .form--light & {
    color: $white;
  }
}

.form__textarea {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  margin-bottom: -9px;
  z-index: 100;
  position: relative;
  color: $white;
  resize: vertical;
  max-height: 250px;
  @include border-bottom();

  .form--light & {
    @include border-bottom($color: $white);
  }
}

// ---- [ Form Header ] ---- //
.form-section {
  margin-bottom: $padding*2;
}

.form__header {
  @include border-bottom($color: $black, $size: 3px);
  margin: $padding 0;
}

.form-section__number {
  background: $black;
  padding: $padding/2 $padding;
  color: $white;
}

.form-section__title {
  font-family: $font-family;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
  display: inline-block;
  height: $padding;
  margin: 2px $padding/2;
}

.validetta-inline {
  color: $brand-danger;
  font-size: $font-size-xx-small;
  position: absolute;
  left: 0 !important;
  top: 100% !important;

  .big-blue & {
    color: $white;
  }
}

// ---- Radio Group ---- //
/*
.radio--group{
  width: 100%;
  display: block;
  position: relative;

  &:nth-child(even){
    background: $gray-lighter;
  }

  &:after{
    content: '';
    display: block;
    height: 1px;
    clear: both;
  }


  td &{
    width: 45px;
    margin: 0 auto;
  }
}

input[type='radio']{
  transition: all $transition-time ease-out;
}


.radio--circle {
  width: 20px;
  height: 20px;
  border-radius: 3em;
  background: $gray-light;
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 10px;
  transition: all $transition-time ease-out;

  &:before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 3em;
    display: inline-block;
    background-color: $gray-lighter;
    transition: all $transition-time ease-out;
  }

}
input[type='radio']:checked + .radio--circle:before{
  background-color: $brand-primary;
  animation: pulse .25s;
}

.label--group:hover{
  .radio--circle:before{
    background-color: $brand-primary;

    animation: reversePulse .25s;
  }
}

input[type="radio"]:focus {
  outline: none;
}

@keyframes reversePulse {
  0% { width: 18px; height: 18px; margin: 1px; }
  50% { width: .5em; height: .5em; margin: .35em; }
  100% { width: .7em; height: .7em; margin: .25em;  }
}

@keyframes pulse {
  0% { width: 15px; height: 15px; top: 2px; left: 2px;  }
  50% { width: 22px; height: 22px; top: 0; left: 0 }
  100% { width: 14px; height: 14px; top: 4px; left: 4px; }
}

*/

//begin custom input styles
.label-group{
  position: relative;
  height: 25px;
  display: inline-block;
}


input[type='radio'],
input[type='checkbox'] {
  display: none; //hide by default
  cursor: pointer; //make the cursor a pointer when over the items
  &:focus,
  &:active {
    outline: none; //remove the annoying outline
  }
  & + label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    height: 100%;
    color: darken($brand-primary, 20%);
    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      left: 2px;
      top: 5px;
      text-align: center;
      position: absolute;
    }
    &:before {
      background-color: $gray-light;
      transition: all .3s ease-in-out;
    }
    &:after {
      color: $white;
    }
  }
  &:checked + label:before {
    box-shadow: inset 0 0 0 10px $brand-primary;
  }
}

/*Radio Specific styles*/
input[type='radio'] {
  & + label:before {
    border-radius: 50%;
  }
  & + label:hover:after,
  &:checked + label:after {
    content: '\2022';
    position: absolute;
    top: 8px;
    font-size: 48px;
    line-height: 15px;
  }
  & + label:hover:after {
    color: darken($gray-light, 20%);
  }
  &:checked + label:after,
  &:checked + label:hover:after {
    color: $white;
  }
}

/*Checkbox Specific styles*/
input[type='checkbox'] {
  & + label:before {
    border-radius: 3px;
  }

  & + label:hover:after,
  &:checked + label:after {
    content: "\2713";
    line-height: 18px;
    font-size: 14px;
  }
  & + label:hover:after {
    color: darken($gray-light, 20%);
  }
  &:checked + label:after,
  &:checked + label:hover:after {
    color: $white;
  }
}

/*Toggle Specific styles*/
input[type='checkbox'] {
  &.toggle {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 55px;
    height: 28px;
    background-color: $gray-light;
    position: relative;
    border-radius: 30px;
    box-shadow: none;
    transition: all .2s ease-in-out;
    &:hover:after {
      background-color: darken($gray-light, 20%);
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: darken($gray-light, 30%);
      top: 2px;
      left: 2px;
      border-radius: 50%;
      transition: all .2s ease-in-out;
    }
  }
  &:checked.toggle {
    box-shadow: inset 0 0 0 15px $brand-primary;
    &:after {
      left: 29px;
      background-color: $white;
    }
  }
}


input[type='file']{
  //width: .1em;
  //height: .1em;
  //opacity: 0;
  //position: relative;
  //z-index: -1;
}


@import 'form-selectric';