
.folder-sub-header {
  background: $brand-primary-dark;
  color: $white;
  padding: $padding/2 $padding;
  margin: $padding 0 0;
  p {
    margin: 0;
    display: inline-block;
  }
}

.folder-actions {
  display: inline-block;
  float: right;

  a{

    span{

      @media(max-width: $breakpoint-md){
        text-indent: -9999px;
      }
    }
  }
}

.folder-section {
  padding: $padding;
  background: $white;

  max-height: 500px;
  height: 500px;
  overflow-y: scroll;
}

.action-icon {

  &--light {
    color: $white;
  }
}

.file-section {
  background: $white;
  margin-top: $padding;;
  max-height: 543px;
  height: 543px;
  overflow-y: scroll;
  margin-bottom: $padding  ;

  .table {
    margin: 0;
  }
}

.folder-section{

  a{
    display: inline-block;
    width: 100%;

    &:hover{
      text-decoration: none;
    }
  }
}

.folder-group{
  margin-left: $padding;


}

.folder-sub{
  margin-left: $padding;

  &.isClosed{
    height: 0;
    overflow: hidden;
  }
}