.header {
  background: $brand-primary;
  padding: $padding 0;
  transition: all .5s ease-in-out;
  position: relative;
  width: 100%;
  z-index: 50;

  @media (max-width: ($breakpoint-md - 1px)) {
    padding: $padding 0 $padding*3;
    height: 210px;
  }

  &.sticky {
    height: 75px;
    text-align: left;

    .header__info p {
      margin: -10px 0;
    }

    .logo a{
      width: 112px;
      height: 40px;
    }
  }
}

.logo {
  width: 150px;
  margin: 0 auto;
  a {
    display: inline-block;
    width: 150px;
    height: 55px;
    background: url('/images/logo--white.png') no-repeat center;
    background-size: cover;
    text-indent: -9999px;
    margin: 0 auto;
  }
}

.header__info {
  color: $white;
  text-align: right;
  font-size: $font-size-x-small;
  p {
    font-weight: $font-weight-light;
    margin: 0;
    height: 20px;
    transition: all .5s ease-in-out;
  }
  a {
    color: $white;
    font-weight: $font-weight-bold;
  }

  @media (max-width: ($breakpoint-md - 1px)) {
    text-align: center;
    padding-top: $padding;
  }
}

.client-logo {
  width: 200px;
  height: 100px;
  background: url('/images/logo--client.png') no-repeat center;
  background-size: cover;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $breakpoint-md) {
  }
}