.help-nav{
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
}

.help-nav__item{
  display: block;
  color: $white;

  &:hover{
    text-decoration: none;
    color: $gray-light;
  }
}

.help-hide{
  display: none;
}