.logo-wrapper {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $breakpoint-md) {
    top: 70%;
  }
}

.client-wrapper {
  position: relative;
  height: 100px;
  margin-bottom: $padding*4;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: $breakpoint-md) {
      width: 125px;
      top: $padding/2;
      left: 0;
      transform: translate(0, 0);
    }
  }

  @media (max-width: $breakpoint-md) {
    margin-bottom: 0;
    float: left;
  }
}

.company-wrapper {
  color: $white;

  p {
    margin: 0;
  }

  img {
    width: 100%;

    @media (max-width: $breakpoint-md) {
      width: 125px;
      margin: 0 auto;
    }
  }

  @media (max-width: $breakpoint-md) {
    float: right;
  }
}

.login-area {
  position: relative;
  height: 100%;
}

.big-blue {
  background: $brand-primary;
  height: 750px;
  @media (max-width: $breakpoint-md) {
    height: 675px;
  }

  @media (max-width: $breakpoint-sm) {
    height: 700px;
  }

  .container {

    height: 100%;

    .section--height {
      height: 93%;

      @media (max-width: $breakpoint-md) {
        height: 400px;

        &:first-child{
          height: 150px;
        }
      }
    }

    .centerer {
      width: 60%;

      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
    }
  }

  .link--light {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
}

.login-menu {
  text-align: center;
}

.login-menu__item {
  color: $white;

  &:not(:last-child) {
    margin-right: $padding;
    &:after {
      content: '|';
      margin-left: $padding;

      @media (max-width: $breakpoint-sm) {
        content: '';
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    font-size: $font-size-xx-small;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 10px;
  }

  &:hover {
    color: $gray-darker;
    text-decoration: none;

    &:after {
      color: $white;
    }
  }
}

.login-content {
  width: 75%;
  margin: $padding*4 auto;
  text-align: center;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }

}

.secured-by {
  display: block;
  background: url('../images/secured-by.png') no-repeat;
  margin: 0 auto;
  width: 230px;
  height: 80px;
  position: relative;
}

.secured-by__date {
  position: absolute;
  color: $black;
  bottom: 0;
  right: 23px;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
}

.create-account{
  margin-top: $padding;
  padding-top: $padding;
  border-top: 1px solid $white;
  color: $white;
  text-align: center;

  a{
    color : $white;
    font-size: $font-size-small;
  }
}