/* NAV */

.main-nav {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 250px;
  height: 100%;
  left: -250px;
  background: $black;
}

.nav-btn {
  position: absolute;
  left: 100%;
  width: 100px;
  background: $black;
  color: $white;
  padding: $padding/2 $padding;
  cursor: pointer;
  user-select: none;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;

  a {
    display: block;
    color: $white;
    padding: $padding/2 $padding;
    text-decoration: none;
  }
}

.nav__item {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $gray-darker;
}

.sub-nav {
  display: none;
  margin: 0;
  padding: 0;
  background: $gray-darker;
}

.sub-nav a:hover,
.nav-active a {
  border-left: 4px solid $brand-primary;
  background: rgba($brand-primary, .25);
}

.sub-nav__item {
  padding: 0;
  margin: 0;
  list-style: none;

  a {
    display: block;
    font-size: $font-size-small;
  }
}


// ---- Side Nav ---- //

.pull{
  display: none;
  text-align: center;
  width: 100%;
  color: $white;
  background: $gray-base;
  position: relative;

  @media( max-width: $breakpoint-md ){
    display: block;

    &:before,
    &:after{
      content: '';
      background: $gray-base;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -90%;
      z-index: -1;
    }
    &:after{
      left: 90%;
      top: 0;
    }
  }

  &:hover{
    color: $gray-lighter;
    text-decoration: none;
  }
}

.side-nav-wrapper{

  @media( max-width: $breakpoint-md ){
    overflow: hidden;
    background: $gray-lighter;
    &:before,
    &:after{
      content: '';
      background: $gray-lighter;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -90%;
      z-index: -1;
    }
    &:after{
      left: 90%;
      top: 0;
    }
  }

  &--inner{
    padding: $padding;
  }
}

.side-nav{
  list-style: none;
  margin: 100px 0 0;
  padding: 0;

  @media( max-width: $breakpoint-md ){
    margin: 0;
  }

  &:after{
    content: '';
    display: table;
    clear: both;
  }
}


.side-nav__item {
  min-height: 15px;
  line-height: 15px;
  margin-bottom: 5px;
  text-align: right;

  a{
    font-size: $font-size-x-small;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $black;

    @media( max-width: $breakpoint-md ){
      display: inline-block;
      width: 100%;
    }
  }

  @media( max-width: $breakpoint-md ){
    display: inline-block;
    width: 50%;
    float: left;

    &:nth-child(odd){
      text-align: left;
    }
  }

  @media( max-width: $breakpoint-sm ){
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;

    &:nth-child(odd){
      text-align: center;
    }
  }

  a:hover,
  &--active a{
    text-decoration: underline;
    color: $brand-primary;
    font-weight: bold;

    &:before{
      content: '➤ ';
    }
  }
}