.container--progress {
  background: $white;
  position: relative;
  height: 150px;
}

.progress {
  margin-top: $padding*4;
  width: 100%;
  background: rgba($white, 1);
  transform: scale(1);
  &.sticky {
    position: fixed;
    z-index: 200;
    padding:  $padding*4 $padding 0;
    background: rgba($white, 1);
    height: 150px;
    margin: 0;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 5px rgba($black, 0.25);

    @media(max-width: $breakpoint-md){
      height: 110px;
    }
  }
}

.progress--wrapper {
  position: relative;

}

.progress__step {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
  width: calc(100% / 7.2);
  counter-increment: li;

  @media( max-width: $breakpoint-md ){
    width: calc(100% / 8.5);

    .sticky &{
      width: calc(100% / 7);
    }
  }

  @media( max-width: $breakpoint-sm ){
    .sticky &{
      width: calc(100% / 7.5);
    }
  }

  span {
    width: 75px;
    margin-top: $padding;
    display: inline-block;
    font-size: $font-size-x-small;
    line-height: 16px;
    position: absolute;
    transform: translate(-50%, -25%);

    @media( max-width: $breakpoint-md ){
      display: none;
    }
  }

  &:before {
    content: counter(li);
    position: relative;
    background: $gray-light;
    color: $white;
    width: $padding*2;
    height: $padding*2;
    border-radius: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: $font-size-small;
    text-align: center;
    display: block;
    z-index: 2;
  }

  &:not(:first-child):after {
    content: '';
    position: absolute;
    width: 100%;
    height: $padding/2;
    display: block;
    background: $gray-light;
    z-index: 1;
    top: 50%;
    left: -50%;
    transform: translate(0, -50%);
    background-size: 20px 20px;
  }

  &--active {
    &:before {
      background: $brand-success;
    }
    &:not(:first-child):after {
      background: $brand-success;
    }

    span {
      color: $brand-success;
    }
  }

}