.search-wrapper{
  background: linear-gradient(to bottom, $gray-darker -10%, $gray-base 10%);
}


.search-sections{
  position: relative;

}

.search-section{
  position: relative;

  width: 100%;
  height: 0;
  top: 0;
  overflow: hidden;

  &.isOpen{
    height: 150px;
    overflow: visible;
  }
}

.search-section__inner{
  padding-bottom: $padding*2;
  margin: $padding*3 0 0;


  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.search-tabs{
  position: relative;
}

.search-tab{
  background: $white;
  border-bottom: 2px solid $gray-base;
  border-left: 2px solid $gray-base;
  border-right: 2px solid $gray-base;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: $padding/2 $padding;
  margin-right: -7px;
  color: $gray-dark;

  &--active,
  &:hover{
    color: $white;
    background: $gray-base;
    text-decoration: none;
  }
}

.tab--ebc{
  @media(max-width: $breakpoint-lg){
    position: absolute;
    right: 0;
  }
}