.tabs{
  width: 100%;
}

.tab__nav{
  display: inline-block;
  padding: $padding $padding;
  margin-right: -5px;
  background: $gray-lighter;
  @include border();

  &:hover{
    text-decoration: none;
    color: $black;
    background: $white;
  }

  &--active{
    background: $white;
    position: relative;
    box-shadow: inset 0 5px 0 0 $brand-primary;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 0 solid $black;
    border-left: 1px solid $black;

    &:after{
      content: '';
      position: absolute;
      background: $white;
      width:100%;
      height: 2px;
      bottom: -2px;
      left: 0;

      @media (max-width : $breakpoint-md){
        height: 0;
      }
    }

    @media (max-width : $breakpoint-md){
      width: 100%;
      margin-bottom: -1px;

      box-shadow: inset 5px 0 0 0 $brand-primary;
      border-top: 1px solid $black;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
      border-left: 1px solid $black;
    }


  }

  @media (max-width : $breakpoint-md){
    width: 100%;
    margin-bottom: -1px;
  }
}

.tab__content{
  @include border();
  display: none;
  opacity: 0;
  margin-top: -1px;
  padding: $padding;
  @include default-transition();

  &--active{
    opacity: 1;
    display: block;
  }
}

.tab__title{
  font-size: $font-size-base;
  font-weight: $font-weight-heavy;
}

.tab__text{
  margin: 0;
}