.table {
  width: 100%;
  margin: $padding 0;
  border-collapse:collapse;

  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
    color: $black;
  }

  th,
  td {
    padding: 0 $padding/2;
    vertical-align: middle;
  }

}

.table__head {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;

  th {
    background-color: $gray-base;
    @include border($color: $gray-base);
    font-weight: normal;
    text-align: center;
    color: $white;

    &:first-of-type {
      text-align: left;
    }
  }

}

.table__caption {
  margin-bottom: $padding;
  font-size: $font-size-small;
  font-weight: $font-weight-heavy;
  text-align: center;
}

.table__body {

  tr {
    margin-bottom: $padding;
    @include border($color: $gray-base);

    &:last-of-type {
      margin-bottom: 0;
    }
    
    &:nth-child(odd){
      background: $white;
    }
  }

  th[scope="row"] {
    background-color: $gray-base;
    color: $white;
  }

  td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: $font-size-small;
    color: $gray-darker;
  }

  td:nth-child(odd){
    @media( max-width: $breakpoint-md ){
      background: $gray-light;
    }
  }

  th,
  td {
    text-align: right;
    @include border($color: $gray-base);
  }
}

.table__foot {
  font-size: .8em;
  background: $brand-primary-dark;
  @include border($color: $brand-primary-dark);

  td{
    color: $white;
    letter-spacing: 1px;
  }
}

@media (min-width: $breakpoint-md) {

  .table {
    font-size: $font-size-small;

    tr {
      display: table-row;
    }

    th,
    td {
      display: table-cell;
      padding: $padding/2;
    }

  }

  .table__head {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }

  .table__caption {
    font-size: $font-size-base;
  }

  .table__body {
    display: table-row-group;
  }

  .table__body tr {
    display: table-row;
    border-width: 1px;

    &:nth-of-type(even) {
      background-color: $gray-lighter;
    }

    th[scope="row"] {
      background-color: transparent;
      color: $black;
      text-align: left;
    }

    td {
      text-align: center;
      &[data-title]:before {
        content: none;
      }
    }
  }

}