
h1, h2, h3, h4, h5, h6{
  font-family: $font-family;
  font-weight: $font-weight-hairline;
  margin: $padding 0;
  line-height: $line-height;

  span,
  small{
    color: $gray-medium;
  }
}

h1{
  font-size: $font-size-xx-large;
}
h2{
  font-size: $font-size-x-large;
}
h3{
  font-size: $font-size-medium;
}
h4{
  font-size: $font-size-small;
}
h5{
  font-size: $font-size-x-small;
}
h6{
  font-size: $font-size-xx-small;
}

.title--page{
  font-size: $font-size-large;
  text-transform: uppercase;
  font-weight: $font-weight-hairline;
  padding: $padding/2;
  text-align: center;
  position: relative;
  display: inline-block;
  z-index: 0;
  left:50%;
  transform: translate( -50%, 0);

  @media (max-width : $breakpoint-md){
    font-size: $font-size-medium;
  }

  &:before {
    content: '';
    background: $gray-darker;
    width: 125%;
    height: 1px;
    position: absolute;
    left: -12.5%;
    top: 50%;
    z-index: -1;
  }

  &:after {
    content: '';
    background: $white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }
}

.title--sub{
  font-size: $font-size-medium;
  font-weight: $font-weight-hairline;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    background: $gray-darker;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 110%;
    top: 50%;
    z-index: 1;
  }
}


.title--light{
  color: $white;

  &:before{
    background: $white;
  }
}

.text--small{
  font-size: $font-size-x-small;
}

.text--center{
  text-align: center;
}
.text--bold{
  font-weight: $font-weight-bold;
}

.text--danger{
  color: $brand-danger;
  font-weight: $font-weight-bold;
}

.text--emphasis{
  font-style: italic;
}